/****  Animation CSS is for Rapid Development and Implementation of a Responsive Gui Function for Devtegrate   *****/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


:root {
    --primary_color: #ffffff;
    --secondary_color: #35A6FF;
    --header_color: #333333;
    --section_color: #e8e8e8;
    --text_color: #666666;
    --header_text: #000000;
}

/****  Backgound Color Selection and CSS fixed Background Sizing ****/
.animation__header{
	justify-content: center;
	align-content: center;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 2% 8%;
}

.animation__header h3{
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 700;
}

.animation__header p{
	font-size: 0.8em;
	font-weight: 400;
}

.animation__flex__box{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	text-align: center;
	list-style: none;
	justify-content: center;
	align-content: center;
	margin: auto;
}

.animation__background__sizing{
	justify-content: center;
	align-content: center;
	margin: auto;
	padding: 2% 18%;
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.animation__background__sizing__2{
	justify-content: center;
	align-content: center;
	margin: auto;
	padding: 4%;
	width: 100%;
	height: 100%;
	border-radius: 8px;
}


.animation__background__black{
	background-color: var(--header_text);
	color: var(--primary_color);
}

body,
html {
    overflow-x: hidden;
}

.animation__team__page__container{
	justify-content: center;
	align-content: center;
	margin: auto;
	padding: 4% 18%;
	width: 100%;
	height: 100%;
}

.animation__team__page__container__2{
	justify-content: center;
	align-content: center;
	margin: auto;
	padding: 4% 8%;
	width: 100%;
	height: 100%;
}

.animation__team__page__container__header{
	justify-content: center;
	align-content: center;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 2% 8%;
}

.animation__team__page__container__header h2{
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 700;
	color: var(--secondary_color);
}

.animation__team__page__container__header p{
	font-size: 0.8em;
	font-weight: 700;
	color: var(--text_color);
}

.animation__team__page__container__content{
	justify-content: center;
	align-content: center;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
}

.animation__team__page__container__flex__box{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-content: center;
	margin: auto;
	text-align: left;
}

.animation__team__page__container__flex__box__text{
	justify-content: center;
	align-content: center;
	margin: auto;
	text-align: left;
	width: 100%;
	height: 100%;
}

.animation__team__page__container__flex__box__text h3{
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: 700;
	color: var(--secondary_color);
}

.animation__team__page__container__flex__box__text p{
	font-size: 0.8em;
	font-weight: 400;
	color: var(--text_color);
}

.animation__team__page__container__flex__box__text span{
	font-size: 0.7em;
	font-weight: 700;
	color: var(--text_color);	
}

.animation__team__page__container__flex__box__img{
	justify-content: center;
	align-content: center;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
}

.animation__team__page__container__flex__box__img img{
	width: 300px;
	height: 300px;
	border-radius: 10px;
}

.animation__flex__box__container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: auto;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.animation__flex__box__container li{
	font-size: 2em;
	font-weight: 700;
	color: var(--secondary_color);
}

.animation__flex__box__container p{
	padding: 5px;
	font-size: 0.8em;
	font-weight: 400;
	color: var(--text_color);
}

.explore__service__background__img__container {
    background-image: linear-gradient(to top, rgb(1 1 1 / 20%), rgb(5 5 5 / 60%)), url(15.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.explore__service__background__img__container__content {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5% 10%;
    width: 100%;
    height: 100%;
    text-align: center;
}

.explore__service__background__img__container__content h3 {
    font-size: 2.8em;
    font-weight: 700;
    line-height: 2em;
    color: var(--primary_color);
}

.explore__service__background__img__container__content span {
    font-size: 0.7em;
    font-weight: 700;
    color: var(--secondary_color);
}

.explore__service__background__img__container__content p {
    font-size: 0.8em;
    font-weight: 400;
    color: var(--primary_color);
    padding-bottom: 4%;
}

.explore__service__background__img__container__content a {
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 15px 30px;
    color: var(--primary_color);
    background-color: var(--secondary_color);
    border: 1px solid var(--secondary_color);
    transition: 0.6s ease;
}

.explore__service__background__img__container__content a:hover {
    border: 1px solid var(--secondary_color);
    background-color: transparent;
    color: var(--secondary_color);
}

.banner__flex__container__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5%;
}

.explore__banner__content__box {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    text-align: left;
}

.explore__banner__content__box h3 {
    font-size: 3em;
    font-weight: 700;
    padding: 4px 0;
    letter-spacing: 2px;
    line-height: 1.4em;
    color: var(--primary_color);
}

.explore__banner__content__box p {
    font-size: 0.75em;
    padding: 4% 0;
    font-weight: 400;
    color: var(--primary_color);
}

.explore__banner__content__box span {
    font-size: 0.65em;
    font-weight: 700;
    color: var(--secondary_color);
}

.explore__banner__content__box a {
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 15px 30px;
    color: var(--primary_color);
    background-color: var(--secondary_color);
    transition: 0.6s ease;
}

.explore__banner__content__box a:hover {
    border: 1px solid var(--secondary_color);
    background-color: transparent;
    color: var(--secondary_color);
}

.explore__banner__content__img {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.explore__banner__content__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content__container__md {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.flex__box__lg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5% 10%;
}

.flex__box__lg__content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.explore__header {
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: left;
    width: 100%;
    height: auto;
}

.explore__header h3 {
    font-size: 2.6em;
    font-weight: 700;
    color: var(--header_text);
}

.explore__header span {
    letter-spacing: 1px;
    font-size: 0.7em;
    font-weight: 700;
    color: var(--header_text);
    margin: 2px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
}

.explore__header span .bx {
    padding: 4px;
    font-size: 0.8em;
    font-weight: 700;
    color: var(--header_text);
}

.flex__box__lg__text__content.active{
    text-align: left;
    margin: auto;
    padding: 4% 0;
    display: block;
}

.flex__box__lg__text__content{
    display: none;
}

.flex__box__lg__text__content p {
    font-size: 0.8em;
    color: var(--text_color);
}

.explore__container {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.explore__img__content.active {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 5%;
    z-index: 000;
    position: relative;
    display: block;
}

.explore__img__content {
    display: none;
}

.explore__navigation {
    z-index: 888;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transform: translateY(80px);
}

.explore__btn.active {
    background: var(--secondary_color);
}

.explore__btn {
    width: 12px;
    height: 12px;
    background: var(--section_color);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.explore__btn:not(:last-child) {
    margin-right: 20px;
}

.explore__btn:hover {
    transform: scale(1.2);
}

.explore__img__content img {
    object-fit: cover;
    border-radius: 10px;
    width: 400px;
    height: 450px;
    opacity: 0.5;
    background: var(--header_text);
}

.explore__img__content__text {
    width: 100%;
    height: 100%;
    top: 3%;
    left: 0;
    transform: translate(0);
    margin: auto;
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    z-index: 888;
    padding: 5em 2.5em;
    color: var(--header_text);
    object-fit: cover;
}

.explore__img__content__text h1 {
    text-transform: uppercase;
    width: 100%;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1.3em;
    padding: 8% 2%;
}

.explore__img__content__text__box {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
    border-radius: 8px;

}

.explore__img__content__text__box .bx {
    font-size: 3em;
    padding: 6px;
    margin: 8px;
    border-radius: 5px;
    color: var(--primary_color);
    background-color: var(--secondary_color);
}

.explore__img__content__text__box p {
    padding: 5px;
    width: 100%;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 1.5em;
    padding-bottom: 1em;
}

.explore__img__content__text span {
    letter-spacing: 1px;
    font-size: 0.6em;
    font-weight: 500;
    color: var(--primary_color);
    padding: 5px 30px;
    margin: 2px;
    background-color: var(--secondary_color);
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
}



@media (max-width: 1024px){
	.animation__background__sizing{
		padding: 2% 6%;
	}
	.animation__background__sizing__2{
		padding: 2% 6%;
	}
	.explore__header span {
        letter-spacing: 0;
        font-size: 0.6em;
        font-weight: 400;
    }
}

@media (max-width: 1040px){
	.explore__img__content img {
		justify-content: center;
		align-items: center;
		margin: auto;
        width: 100%;
        height: 500px;
    }
    .flex__box__lg {
    	flex-direction: column;
    }
}

@media (max-width: 820px){
	.animation__team__page__container__flex__box{
		flex-direction: column-reverse;
	}
	.animation__header{
		padding: 2%;
	}
	.flex__box__lg {
        padding: 5% 2%;
    }
}


@media (max-width: 768px){
	.flex__box__lg {
        padding: 5% 2%;
        flex-direction: column;
    }


@media (max-width: 600px){
	.animation__header h3{
		font-size: 1.4em;
	}
	.explore__banner__content__img {
        display: none;
    }
	.animation__header p{
		font-size: 0.7em;
	}
	.animation__team__page__container{
		padding: 2% 4%;
	}

	.animation__team__page__container__2{
		padding: 2% 4%;
	}
	.animation__background__sizing{
		padding: 2% 4%;	
	}
	.animation__background__sizing__2{
		padding: 2% 4%;	
	}
}

@media (max-width: 480px){
	.animation__background__sizing{
		padding: 2% 4%;	
	}
	.animation__background__sizing__2{
		padding: 2% 4%;	
	}
	.animation__flex__box{
		flex-direction: column;
	}
	.animation__team__page__container__header{
		padding: 2% 0;
	}
	.explore__header h3 {
        font-size: 1.8em;
        font-weight: 700;
    }
    .explore__banner__content__box h3 {
        font-size: 1.8em;
        font-weight: 700;
    }
}
