{% extends 'base.html' %} 
  {% block content %}    
      <div class="about">
        <div class="about_header_content">
          <h3>About Us</h3>
          <p>Home&nbsp;&nbsp;<i class='bx bxs-chevrons-right bx-fade-right'></i>&nbsp;&nbsp;About Us</p>
        </div>
      </div>

      <div class="about_section">
        <div class="about_section_md_2">
          <div class="about_section_content_md_2">
            <div class="about_img">
              <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/devtegrate_image_8.jpg" alt="Devtegrate DevOps">
            </div>
          </div>

          <div class="about_section_content_md_2">
            <div class="about_content">
              <h4>About Devtegrate</h4>
              <span>DevOps. Cloud Service. Automation. </span>
              <p>With a combined Cloud DevOps experience of over fifty years (50 yrs) made up of a strong team of multinationals, having an understanding of various clients on a global scale. Devtegrate prides itself in the provision of satisfactory professional service, with a well established record.</p>

              <p>Devtegrate also fields a team of professionals in various technological and programming stacks, with the major boast being in the provision of expert DevOps services provided by experts certified in the use of Amazon Website Service (AWS), Microsoft Azure, Google Cloud Platform as well as Oracle Cloud Service and the like.</p>

              <p>Devtegrate possesses vast knowledge in the utilization of various tools for automation processes, CI/CD actions, containerization of applications, monitoring, logging and a host of other service requirements, to mention a few tools: Chef, Ansible, Terraform, Puppet, Docker, GitLab, GitActions, Azure Kubernetes Service (AKS), Elastic Kubernetes Service (EKS), Jenkins, kubernetes, CircleCI and the list goes on; becoming one of the leading organizations in Cloud formation, Infrastructure and Automation.</p>

              <p>Some of our notable Clients include: National Basketball Association (NBA), Hard Rock Cafe, Disney, AutoStore and they all testify to our competence and usage of a collaboration of tools to automate deployments with a dedicated team to support application deployment and a vast experience working in the cloud space.</p>

              <p>Beyond our experience working with various DevOps, Devtegrate posseses experience working with DOD security application in other words (DevSecOps). DevSecOps is a set of software development practices that combines software development (Dev), security (Sec), and information technology operations (Ops) to secure the outcome and shorten the development lifecycle. Ultimately, the Organizational aim of Devtegrate is to lead the market in being a force to reckon with in DevOps and Cloud Infrastructure, as well as to solve market needs in cloud or "on premise cloud infrastructure".</p>
            </div>
          </div>
        </div>
      </div>

      <section class="career">
        <div class="career_container">
          <div class="col-md-8">
            <h2 class="reveal__header">Make that Great leap in Your Career Towards Greatness</h2>
            <p class="reveal__box">
              We create, we innovate and we deploy softwares, setting up its infrastructure on the cloud, in line with its development life cycle, a core requirement for its set up, with our clients being satisfied tech giants, confident in the service we provide.
            </p>
          </div>

          <i class='bx bx-spa bx-flashing reveal__square__box'></i>
        </div>

        <h3 class="reveal__header"><a href="{{url_for('career')}}">Begin Your Journey</a></h3>
      </section>

      <section class="explore_container">
        <div class="explore_container_header">
          <span class="reveal__span">Consultation.&nbsp;&nbsp;&nbsp;&nbsp;Cloud Service.&nbsp;&nbsp;&nbsp;&nbsp;Automation.</span>
          <h2 class="reveal__header"> Start Your Journey with the Right Information !</h2>
        </div>

        <div class="explore_flex_container">
          <div class="explore_flex_box reveal__boxes">
            <i class='bx bx-cloud'></i>
            <h3>DevOps Services</h3>
            <p>Expert DevOps Engineers</p>
            <a href="{{ url_for ('team') }}">Meet the Team</a>
          </div>

          <div class="explore_flex_box reveal__boxes">
            <i class='bx bxl-kubernetes'></i>
            <h3>Our Tools</h3>
            <p>Professionals in Deployment</p>
            <a href="{{ url_for ('explore') }}">Explore Our Page</a>
          </div>

          <div class="explore_flex_box reveal__boxes">
            <i class='bx bxs-server'></i>
            <h3>Server Side</h3>
            <p>Our focus is Professionalism</p>
            <a href="{{ url_for ('inspiration') }}">Our Services</a>
          </div>

          <div class="explore_flex_box reveal__boxes">
            <i class='bx bxl-docker'></i>
            <h3>Automation</h3>
            <p>Software Development Life Cycle</p>
            <a href="{{ url_for ('integration') }}">Click Here</a>
          </div>
        </div>

        <div class="explore_btn reveal__image__2">
          <button><a href=" {{url_for('career') }} ">Consult With Us</a></button>
        </div>
      </section>

      <div class="next_about">
        <div class="next_about_flex_content">
          <div class="next_about_flex">
            <div class="next_about_content">
              <div class="explore_container_header_6">
                <span class="reveal__span">DevOps.&nbsp;&nbsp;&nbsp;&nbsp;Cloud Service.&nbsp;&nbsp;&nbsp;&nbsp;Automation. </span>
                <h2 class="reveal__header" style='color:#35A6FF'>Why we remain the best at what we do</h2>
              </div>
              <p class="reveal__box">Devtegrate is highly dynamic in its service delivery with a wide scope of knowledge, utilization of tool's for DevOps, Cloud Service and Automation.</p>

              <p class="reveal__box__2">In a highly competitive space, we remain the most professional outfit, best known for efficiency, skill and professionalism. We don't miss mandates or break our promise so, when we give you our word, store it to the cloud, because we automate it.</p>

              <div class="next_about_footer">
                <i class='bx bxl-microsoft bx-tada reveal__boxes'></i>
                <i class='bx bxl-google-cloud bx-tada reveal__boxes'></i>
                <i class='bx bxl-aws bx-tada reveal__boxes'></i>
              </div>
            </div>
          </div>

          <div class="next_about_flex_md_2">
            <div class="next_about_img"></div>
          </div>
        </div>
      </div>
      
      {% include "faq.html" %}
  {% endblock %}