{% extends 'base.html' %}
	{% block content %}

	<div class="header_section_md_2">
	    <div class="header_content_md_2">
	      <h3>Amazon Web Service</h3>
	      <p>Home&nbsp;&nbsp;<i class='bx bxs-chevrons-right bx-fade-right'></i>&nbsp;&nbsp;Amazon Web Service Guide</p>
	    </div>
	  </div>

	  <div class="about_section">
	    <div class="about_section_md_2">
	      <div class="about_section_content_md_2">
	        <div class="image_flow">
	          <i class="bx bxl-aws"></i>
	        </div>
	      </div>

	      <div class="about_section_content_md_2">
	        <div class="about_content">
	          <h4>Amazon Web Service Integration at Devtegrate</h4>
	          <span>Development. Integration. Devtegrate. </span>
	          
	          <p>Cloud servers seem to be taking over the computation and storage solutions of many big agencies and organization opting for Cloud Computation due to its all inclusiveness of SAAS (Software as a Service) and PAAS (Platform as a Service) to IAAS (Infrastructure as a Service), in other words Cloud Computing solutions. It is also fast becoming a favorite choice for its speed and efficiency in handling multiple complex tasks and frameworks.</p>

	          <p>When the word “cloud computing” is connoted the trio of AWS, AZURE, and GCP is denoted, topping the chart for their ease of usage and expert service tools and many. AWS (Amazon Web Service) is the foremost professional in this field, notably for its great influence in “Cloud Infrastructure.” AWS possesses a very robust array of tools and resources to enable easy integration to Cloud Computing. Using its tools of EKS (Elastic Kubernetes Service), Template Instance creation known as EC2, or RDS for Database integration.</p>

	          <p>AWS focuses on structures set in place which includes the ability to automate and ensure scalability. AWS manages and ensures upgrade, backup of database in the Infrastructures created for various software’s and application use. What makes AWS stand out from other Cloud Computing service is its wide range and preferred choice for organizational solution to slow system run time and response. AWS is however affected by pricing and its choice of usage is all dependent of Organizational need and preference.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	{% endblock %}