{% extends 'base.html' %}
	{% block content %}

		<div class="header_section_md_2">
			<div class="header_content_md_2">
				<h3>Microsoft Azure</h3>
				<p>Home&nbsp;&nbsp;<i class='bx bxs-chevrons-right bx-fade-right'></i>&nbsp;&nbsp;Azure Professional Tips and Guide</p>
			</div>
		</div>

		<div class="about_section">
			<div class="about_section_md_2">
				<div class="about_section_content_md_2">
					<div class="image_flow">
						<i class="bx bxl-microsoft"></i>
					</div>
				</div>

				<div class="about_section_content_md_2">
					<div class="about_content">
						<h4>How we Use Azure at Devtegrate</h4>
						<span>Development. Integration. Devtegrate. </span>

						<p>Azure is Microsoft solution to Amazon Web Service. Both are classified as Cloud Service provider and a major platform used by DevOps Engineer. Microsoft Azure also comprises of various tools and just as instances are launched on AWS and other Cloud Platforms Azure takes pride in this actions as well with Automation actions done by AKS (Azure Kubernetes Service).</p>

						<p>However there is a very thin line between Azure and AWS. First would be relating to the price of both platform; it is believed that AWS charges higher when compared to Azure prices for Service provided which are relatively lower.</p>

						<p>Also AWS framework lack basic assignment of tools and representation using basic concept when compared to Azure framework, which makes it easy to identify and navigate through with little complexities.</p>

						<p>Azure also possesses a lower regional reach when compared to AWS, but makes up for this short coming by being the more preferred choice for app service environment creation and ensuring Scalability and Automation.</p>

						<p>DevOps is fast becoming an important part of technological advancement, with various organizations seeking cloud integration for their software due to its efficiency, reliability and effectiveness.</p>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}