{% extends 'base.html' %} 
  {% block content %}

    <div class="space"></div>
    
    <div class="consult">
      <div class="row">
        <div class="col-md-6">
          <div class="consult_background">
            <div class="consult_background_header">
              <div class="consult_background_content">
                <h3>Devtegrate Cloud Service </h3>
                <p>DevOps. Cloud Service. Automation.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="consult_form">
            <div class="consult_form_header">
              <h3>Consult With Us</h3>
              <p>DevOps. Cloud Service. Automation</p>
            </div>

            <form onsubmit="sendEmail(); reset(); return false"
              action="https://calendly.com/devtegrate/devtegrate-consult">
              <input type="text" name='name' placeholder="What is your Name">
              <input type="text" name='company' placeholder="What is your Company's Name">
              <input type="email" name='email' placeholder="Email Address Here !">

              <textarea id='message' placeholder="What can we do for you?" required></textarea>

              <button type='submit'>Send <i class="bx bxl-telegram"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
      
      {% include "faq.html" %}
  {% endblock %}