  <section class="faq">
    <div class="title">
      <h2 class="reveal__header">Frequently Asked Questions</h2>
      <p class="reveal__box">Get insights on what we do and how we do it.</p>
    </div>

    <div class="layout">
      <div class="accordion">
        <div class="accordion__question">
          <p>
            What is DevOps?
            <i class="bx bx-plus"></i>
          </p>

        </div>
        <div class="accordion__answer">
          <p>
            A compound of development (Dev) and operations (Ops), DevOps is the union of people, process, and technology
            to continually provide value to customers. DevOps enables formerly siloed roles—development, IT operations,
            quality engineering, and security—to coordinate and collaborate to produce better, more reliable products.
            By adopting a DevOps culture along with DevOps practices and tools, teams gain the ability to better respond
            to customer needs, increase confidence in the applications they build, and achieve business goals faster.
            <li>Microsoft</li>
          </p>

        </div>
      </div>
      <div class="accordion">
        <div class="accordion__question">
          <p>
            How do we render our Services?
            <i class="bx bx-plus"></i>
          </p>
        </div>
        <div class="accordion__answer">
          <p>
            Here at Devtegrate, we have an objective to Develop, Integrate and deploy multi-directional technical
            services to our clients. Businesses that adopt DevOps tools benefit in many ways: Accelerating time to
            market, Adapting to the market and competition, Maintaining system stability and reliability, improving the
            mean time to recovery.
          </p>
        </div>
      </div>

      <div class="accordion">
        <div class="accordion__question">
          <p>
            How to integrate and utilize various DevOps tools?
            <i class="bx bx-plus"></i>
          </p>
        </div>
        <div class="accordion__answer">
          <p>
            Cloud computing is taking the fore front in the race for technological advancement shaping the world in its
            reality with tech giants moving into this space as well as start ups. However the opportunity to integrate
            and use various cloud technologies is rested on the services provided by various cloud platforms like Amazon
            Web Service, Microsoft Azure and Google Cloud Platform. These platforms are riddled with various degrees of
            complexities in its setup and integration, take AWS (Amazon Web Service) for example, it provides a three
            tier application service which starts with the creation of an instance and subsequently the creation of a
            network gateway, multiple security groups, an RDS section and other dependencies all needing an expert to be
            integrated and hosted on the AWS cloud platform. To integrate or use cloud services is not an easy operation
            and would often time require an expert, in this sense a DevOps engineer. Consulting with DevOps experts like
            Devtegrate is the best response to integrate, automate and use of cloud service tools. Once you contact us,
            we will begin consulting with you on the best ways to incorporate DevOps into your business operations.
          </p>
        </div>
      </div>
    </div>
  </section>


  <!--JavaScripts Section-->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/swiper-bundle.min.js"></script>

  <script type="text/javascript">
    let answers=document.querySelectorAll('.accordion');
    answers.forEach((event)=>{
      event.addEventListener('click',()=>{
        if(event.classList.contains('active')){
          event.classList.remove('active');

        }
        else{
          event.classList.add('active');
        }
      })
    });
  </script>