      
      <div class="footer">
        <div class="footer-frame">
          <div class="footer-header">
            <h1>DEVTEGRATE <small>CLOUD SERVICES</small> </h1>
            <span> DevOps made easy </span>
            <p>Devtegrate serves its clients with some of the best workflow and management system, tailored towards ensuring
              organisational goals are achieved with efficiency and effectiveness in organisation operations and daily
              task. Developing and integrating, making seamless progress and scalability of web applications, softwares and
              other important task requirements from our Clients.&nbsp;&nbsp;&nbsp; <br /> <a href="{{ url_for('about') }}" >Read About
                Us&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a> </p>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="share-footer">
                <span class="share-title">Contact Us Via Social Media</span>
                <div class="social_footer">
                  <a href="https://www.facebook.com/profile.php?id=100087533002431"><i class="bx bxl-facebook"></i></a>
                  <a href="https://www.twitter.com/Devtegrate_LLC"><i class="bx bxl-twitter"></i></a>
                  <a href="https://www.instagram.com/devtegrate_llc"><i class="bx bxl-instagram"></i></a>
                  <a href="https://outlook.office.com/mail/contact@devtegrate.com"><i class="bx bxl-gmail"></i></a>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="line"></div>
              <div class="footer-links">
                <li><a href="{{ url_for('about') }}"> About Us </a></li>
                <div class="line-footer"></div>
                <li><a href="{{ url_for('contact') }}"> Contact Us</a></li>
                <div class="line-footer"></div>
                <li><a href="{{ url_for('services') }}"> Our Services</a></li>
                <div class="line-footer"></div>
                <li><a href="{{ url_for('team') }}"> Our Team </a></li>
                <div class="line-footer"></div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="line"></div>
              <div class="footer-links">
                <li><a href="{{ url_for('get_in_touch') }}"> Support </a></li>
                <div class="line-footer"></div>
                <li><a href="{{ url_for('help_center') }}"> Help Center </a></li>
                <div class="line-footer"></div>
                <li><a href="assets/document/devtegrate-legal-document.pdf"> Legal </a></li>
                <div class="line-footer"></div>
                <li><a href="{{ url_for('privacy_policy') }}"> Privacy Policy </a></li>
                <div class="line-footer"></div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="footer_mail_text">
                <h3>Stay up to date</h3>
                <p>Get newsletters on our latest events and occasions.</p>
                <div class="footer_mail">
                  <form action="contact.html">
                    <input type="email" name="email" placeholder="Subscribe to Our Services">
                    <button onclick="popUpMessage()"><i class="fa fa-envelope" type="submit" name="submit" aria-hidden="true"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="copyright">
          <p>Copyright &copy; Devtegrate <small>2022</small></p>
        </div>
      </div>

      <!--JavaScripts Section-->
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script src="static/js/main.js"></script>
      <script src="static/js/swiper-bundle.min.js"></script>