{% extends 'base.html' %}
	{% block content %}
		<div class="header_section_md_2">
			<div class="header_content_md_2">
				<h3>Cloud Platform</h3>
				<p>Home&nbsp;&nbsp;<i class='bx bxs-chevrons-right bx-fade-right'></i>&nbsp;&nbsp;Google Cloud Platform Guide</p>
			</div>
		  </div>

		  <div class="about_section">
		  	<div class="about_section_md_2">
		  		<div class="about_section_content_md_2">
		  			<div class="image_flow">
		  				<i class="bx bxl-google-cloud"></i>
		  			</div>
		  		</div>

		  		<div class="about_section_content_md_2">
		  			<div class="about_content">
		  				<h4>How we Use Google Cloud Platform at Devtegrate</h4>
		  				<span>Development. Integration. Devtegrate. </span>
		  				<p>Joining the league of Cloud Service provider is Google. GCP (Google Cloud Platform) is Google’s answer to AWS and Azure with a major advantage; it is much more cost effective. While AWS and Azure charges users pay minute, Google takes it to a whole new plain by charging lower, specifically for lower instances used. GCP also offers highly discounted prices on the use of most of its services and as the highest compute offerings like; big data, machine learning, high transfer stability with minimal data loss during server and storage transfer unlike Azure hybrid cloud system process.</p>

		  				<p>Invariably, Google Cloud Platform when compared to Amazon Web Service and Microsoft Azure doesn’t really have much to offer, however what it lacks in tools it definitely makes up for in pricing and specialized services it offers.</p>
		  			</div>
		  		</div>
		  	</div>
		  </div>
	{% endblock %}