<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta property="og:type" content="homepage" />
        <meta property="type" content="homepage" />

        <title>DevOps | Software Development Cycle | Cloud Service</title>

      <!-- Links -->
        <link rel="caronical" href="https://www.detegrate.com" />
        <link rel="og:caronical" href="https://www.devtegrate.com" />
        <link rel="image_src" href="assets/images/favicon.bmp" />
        <link rel="shortcut icon" type="image/png" href="assets/css/devtegrate.png"/>

        <!-- Other Meta Functions -->
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta property="og:image" content=" " />
        <meta property="twitter:image" content=" " />
        <meta property="twitter:card" content="summary_large_image" />
        <link rel="icon" href="assets/css/devtegrate.png"/>

        <!-- SEO Functions -->
        <meta name="og:description" content="Software Development Life Cycle | Cloud Service | Server Side Programming | Oracle Corporation  Computer software company |  SQL Server Management Studio."/>

        <meta
          name="description"
          content="Software Development Life Cycle | Cloud Service | Server Side Programming | Oracle Corporation  Computer software company |  SQL Server Management Studio"
        />
        <meta
          name="og:keyword"
          content="Software, Development, Server, Programming, Oracle, Corporation, Computer, software, Server, Management, Studio"
        />
        <meta
          name="keyword"
          content="Software, Development, Server, Programming, Oracle, Corporation, Computer, software, Server, Management, Studio"
        />

        <!--Editing Required-->
        <meta name="rating" content="General" />
        <meta content="all" name="Googlebot-Image" />
        <meta content="all" name="Slurp" />
        <meta content="all" name="Scooter" />
        <meta content="ALL" name="WEBCRAWLERS" />
        <meta name="revisit-ALL" content="1 days" />
        <meta name="robots" content="ALL, index, follow" />
        <meta name="author" content="Devtegrate | Ebire Folayemi Michael " />
        <meta
          name="revised"
          content="Devtegrate, 5th of October, 2022"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap CSS -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"
        />

        <!-- font awesome cdn link-->
        <link
          rel="stylesheet"
          href="path/to/font-awesome/css/font-awesome.min.css"
        />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        />

        <!-----box icons------>
        <link
          href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
          rel="stylesheet"
        />

        <!--Slide in Show-->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

        <!-- Link Swiper's CSS -->
        <link href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}" rel="stylesheet">

        <!-- Style Sheet -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
    <body>
      {% include "navbar.html" %}

      <section class="home">
        <video class="video_slide active" src="https://devtegrate-files.s3.us-east-2.amazonaws.com/videos/video_10.mp4" autoplay muted loop></video>

        <div class="content active">
          <h1 data-aos="zoom-in" data-aos-duration="3000">Devtegrate.<br><span>Inspiration</span></h1>
          <p data-aos="zoom-in" data-aos-duration="3000">
            Explore our services, scroll through our satisfied clients and understand our professional viewpoint on cloud services, automation and integration.
          </p>
        </div>

        <div class="media_icons">
          <a data-aos="zoom-in" data-aos-duration="3000" href="https://www.facebook.com/profile.php?id=100087533002431"><i class="bx bxl-facebook"></i></a>
          <a data-aos="zoom-in" data-aos-duration="3000" href="https://www.instagram.com/devtegrate_llc"><i class="bx bxl-instagram"></i></a>
          <a data-aos="zoom-in" data-aos-duration="3000" href="https://www.twitter.com/Devtegrate_LLC"><i class="bx bxl-twitter"></i></a>
        </div>
      </section>

      <div class="mission_container">
        <div class="mission_content_header">
          <span>Clients Satisfaction.&nbsp;&nbsp;&nbsp;&nbsp;Devtegrate.&nbsp;&nbsp;&nbsp;&nbsp;Inspiration.</span>
          <h2>DevOps Core Service and Clients Satisfaction.</h2>
        </div>

        <div class="inspiration_background">
          <div class="integration_background_section">
            <div class="integration_background_section_header">
              <h3>Our Services are Strictly Professional.</h3>
              <p>With Our Clients Satisfaction Guaranteed.</p>
            </div>

            <div class="integration_background_section_grid">
              <div data-aos="zoom-in" data-aos-duration="3000" class="integration_background_section_box">
                <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/nba.png" alt="Devtegrate DevOps">
                <h3>National Basketbell Association</h3>
              </div>

              <div class="integration_background_section_box">
                <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/landstar.png" alt="Devtegrate DevOps">
                <h3>Landstar</h3>
              </div>

              <div class="integration_background_section_box">
                <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/signature.png" alt="Devtegrate DevOps">
                <h3>Signature Aviation</h3>
              </div>

              <div data-aos="zoom-in" data-aos-duration="3000" class="integration_background_section_box">
                <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/hardrock.png" alt="Devtegrate DevOps">
                <h3>Hard Rock Cafe</h3>
              </div>

              <div data-aos="zoom-in" data-aos-duration="3000" class="integration_background_section_box">
                <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/autostore.png" alt="Devtegrate DevOps">
                <h3>Autostore</h3>
              </div>

              <div data-aos="zoom-in" data-aos-duration="3000" class="integration_background_section_box">
                <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/disney.png" alt="Devtegrate DevOps">
                <h3>Disney</h3>
              </div>
            </div>
          </div>
        </div>

        <div data-aos="zoom-in" data-aos-duration="3000" class="explore_container_header">
          <span>AWS.&nbsp;&nbsp;&nbsp;&nbsp;Our Developers.&nbsp;&nbsp;&nbsp;&nbsp;The DevOps Team.</span>
          <h2>Hear what Our Team has to say</h2>
        </div>

        <div class="mission_section">
          <div class="inspiration_header_section">
            <div data-aos="zoom-in" data-aos-duration="3000" class="mission_content_box">
              <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/nba.png" alt="Devtegrate DevOps">
              <div class="mission_content_box_text">
                <h3>National Basketball Association</h3>
                <p>With the technical documentation of NBA pipelines for API integration, working with this innovation depicts the nature of future technological evolution.</p>
                <span>DevOps Expert</span>
              </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="mission_content_box">
              <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/autostore.png" alt="Devtegrate DevOps">
              <div class="mission_content_box_text">
                <h3>AutoStore</h3>
                <p>Site reliability is of keen importance when creating a new infrastructure. A reliable site means a trusted structure of automated codes, monitoring, maintenance and management as well as scalability.</p>
                <span>DevOps Expert</span>
              </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="mission_content_box">
              <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/microsoft.png" alt="Devtegrate DevOps">
              <div class="mission_content_box_text">
                <h3>Signature Aviation</h3>
                <p>Cloud infrastructure connote the need to make cloud services always available, creating automated pipelines using CI/CD and Azure DevOps to render satisfactory service to our clients.</p>
                <span>DevOps Expert</span>
              </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="mission_content_box">
              <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/aws.png" alt="Devtegrate DevOps">
              <div class="mission_content_box_text">
                <h3>Landstar</h3>
                <p>Microsoft Azure provides one of the best cloud server tools and with the integration of Azure Kubernetes Service (AKS), monitoring, maintenance and management of system infrastructures is so seamless and easy.</p>
                <span>DevOps Expert</span>
              </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="mission_content_box">
              <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/hardrock.png" alt="Devtegrate DevOps">
              <div class="mission_content_box_text">
                <h3>Hardrock Cafe</h3>
                <p>Azure DevOps provides some of the best working tools for the dockerization of applications and the use of Kubernetes cluster seems so easy and swift to automate and has earlier mentioned create pipelines for services hosted on kubernetes.</p>
                <span>DevOps Expert</span>
              </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="mission_content_box">
              <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/disney.png" alt="Devtegrate DevOps">
              <div class="mission_content_box_text">
                <h3>Disney</h3>
                <p>Using terraforms introduces the feel of infrastructure as code and with the support of atlantis to automate the process being overly monitored by terraform makes development and CI/CD process easier.</p>
                <span>DevOps Expert</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="career">
        <div data-aos="zoom-out" data-aos-duration="3000" class="career_container">
          <div class="col-md-8">
            <h2>Make that Great leap in Your Career Towards Greatness</h2>
            <p>
              We create, we innovate and we deploy softwares, setting up its infrastructure on the cloud, in line with its development life cycle, a core requirement for its set up, with our clients being satisfied tech giants, confident in the service we provide.
            </p>
          </div>

          <i class='bx bx-spa bx-flashing'></i>
        </div>

        <h3 data-aos="zoom-out" data-aos-duration="3000"><a href="{{ url_for('career') }}">Begin Your Journey</a></h3>
      </section>

      <div class="article__sections">
        <div class="article__sections__content">
          <div class="article__sections__content__header">
            <span>Continuous Integration...&nbsp;&nbsp;&nbsp;&nbsp;Continuous Deployment...</span>
            <h3>Continuous integration (CI) and continuous deployment (CD)</h3>
          </div>
          <div class="article__sections__content__text">
            <p>Continuous integration (CI) and continuous deployment (CD) are two closely related practices that are commonly used in software development. Both involve automating the process of building, testing, and releasing software, but they have slightly different goals and focus on different stages of the development process.</p>

            <p>CI is a practice that aims to make it easy for developers to integrate their code changes into a shared codebase. This typically involves setting up a build server that can automatically build the software, run tests, and report any errors that are found. By continuously integrating code changes, developers can quickly detect and fix conflicts or bugs that may arise from merging different code changes together. This can help to reduce the time and effort required to integrate code changes, and can also improve the overall stability and quality of the codebase.</p>

            <p>CD, on the other hand, is a practice that focuses on automating the process of releasing software to production. This typically involves setting up a deployment pipeline that can automatically build, test, and deploy the software to different environments, such as development, staging, and production. By continuously deploying software, developers can quickly and easily release new features and bug fixes to users, without having to manually perform the deployment process. This can help to reduce the time and effort required to release software, and can also improve the reliability and consistency of the deployment process.</p>

            <p>Together, CI and CD can help to improve the speed and reliability of the software development process. By automating the build, test, and deployment process, developers can focus on writing code and implementing new features, rather than spending time on manual tasks such as building and deploying software. This can help to reduce the time and effort required to release new software, and can also improve the overall quality and stability of the software.</p>
          </div>
        </div>

        <div class="article__sections__img">
          <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/devtegrate__2.png" alt="Devtegrate DevOps">
        </div>
      </div>

      {% include "faq.html" %}

      {% include "footer.html" %}

      <!--JavaScripts Section-->
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
      <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
    </body>
</html>