{% extends 'base.html' %}
{% block content %}

<section class="home">
  <video class="video_slide active" src="https://devtegrate-files.s3.us-east-2.amazonaws.com/videos/video_10.mp4"
    autoplay muted loop></video>

  <div class="content active">
    <h1 data-aos="zoom-in" data-aos-duration="3000">Devtegrate.<br><span>Our Services</span></h1>
    <p data-aos="zoom-in" data-aos-duration="3000">Automate, scale, and modernize product engineering with DevOps
      guaranteed to make your service delivery efficient and effective.</p>
  </div>

  <div class="media_icons">
    <a data-aos="zoom-in" data-aos-duration="3000" href="https://www.facebook.com/profile.php?id=100087533002431"><i
        class="bx bxl-facebook"></i></a>
    <a data-aos="zoom-in" data-aos-duration="3000" href="https://www.instagram.com/devtegrate_llc"><i
        class="bx bxl-instagram"></i></a>
    <a data-aos="zoom-in" data-aos-duration="3000" href="https://www.twitter.com/Devtegrate_LLC"><i
        class="bx bxl-twitter"></i></a>
  </div>
</section>

<div class="animaion__fixing__container">
  <div class="animaion__fixing__container__header">
    <span class="reveal__span">Devtegrate services <i class='bx bxs-chevrons-right bx-flashing'></i> Full Cycle Product Development</span>
    <h3 class="reveal__header">Devtegrate Cloud Service.</h3>
  </div>

  <div class="animaion__fixing__flex__box">
    <div class="animaion__fixing__flex__box__container">
      <div class="animaion__fixing__box active reveal__boxes__social">
        <h3>Infrastructure as Code (IAC)</h3>
        <p>Devtegrate is a cloud service provider that offers a range of solutions for businesses looking to implement IaC and automate their infrastructure management processes.</p>
      </div>

      <div class="animaion__fixing__box reveal__boxes__social">
        <h3>Continous Integration and Continous Deployment</h3>
        <p>Continuous Integration (CI) is a software development practice that involves merging code changes into a shared repository on a regular basis. This allows developers to detect and fix errors quickly, as well as collaborate more effectively with team members.</p>
      </div>

      <div class="animaion__fixing__box reveal__boxes__social">
        <h3>Cloud Formation and Infrastructure</h3>
        <p>Cloud Formation is a powerful tool that enables users to define and deploy their infrastructure in the cloud in a predictable and automated way. It helps users save time and reduce the risk of errors, and allows them to easily modify and manage their infrastructure as their needs change.</p>
      </div>
    </div>

    <div class="animaion__fixing__flex__box__container__content active reveal__square__box">
      <p>Infrastructure as Code (IaC) is a software development practice that involves writing code to manage and automate infrastructure resources. It allows organizations to define and manage their infrastructure in a more automated and standardized way, making it easier to deploy and maintain complex environments. IaC can be used to manage resources such as servers, networks, and storage, as well as cloud services and applications.</p>

      <p>Devtegrate is a cloud service provider that offers a range of solutions for businesses looking to implement IaC and automate their infrastructure management processes. Their IaC solutions are designed to be flexible, scalable, and easy to use, making it easy for businesses to define and manage their infrastructure in a consistent and repeatable way.</p>

      <p>One of the key benefits of using IaC is that it enables organizations to adopt a more agile and efficient approach to infrastructure management. With IaC, businesses can define their infrastructure in a declarative way, using code to specify the desired state of their resources. This makes it easier to deploy and manage complex environments, as well as make changes and updates quickly and consistently.</p>

      <p>Another key benefit of IaC is that it allows businesses to version and track changes to their infrastructure. By storing infrastructure definitions in version control systems, organizations can easily track changes, roll back updates, and collaborate with teams more effectively. This is particularly important for businesses that rely on complex and dynamic environments, as it helps to ensure that infrastructure changes are made in a controlled and consistent way.</p>
    </div>

    <div class="animaion__fixing__flex__box__container__content">
      <p>Continuous Integration (CI) is a software development practice that involves merging code changes into a shared repository on a regular basis. This allows developers to detect and fix errors quickly, as well as collaborate more effectively with team members. CI involves automating the build, test, and release processes, making it easier to develop and deploy software in a consistent and efficient way.</p>

      <p>Devtegrate offers a range of solutions for businesses looking to implement CI and automate their software development processes. Their CI solutions are designed to be flexible, scalable, and easy to use, making it easy for businesses to integrate code changes and automate the build, test, and release processes.</p>

      <p>One of the key benefits of using CI is that it helps to improve software quality and reduce the risk of errors. By integrating code changes on a regular basis, businesses can catch errors and defects early in the development process, making it easier to fix them and avoid costly delays. CI also makes it easier for businesses to collaborate with team members, as it allows developers to work on code changes in parallel and merge their changes into a shared repository.</p>

      <p>Continuous Deployment (CD) is a software development practice that involves automating the deployment of software to production environments. CD builds on the principles of CI, taking the automated build and test processes a step further by automatically deploying code changes to production environments. CD enables businesses to deploy software faster and more frequently, allowing them to deliver new features and updates to their customers more quickly.</p>

      <p>Devtegrate offers a range of solutions for businesses looking to implement CD and automate their deployment processes. Their CD solutions are designed to be flexible, scalable, and easy to use, making it easy for businesses to automate the deployment of software to production environments.</p>

      <p>One of the key benefits of using CD is that it helps to improve software quality and reduce the risk of errors. By automating the deployment process, businesses can ensure that code changes are deployed consistently and accurately, reducing the risk of errors and defects. CD also helps to speed up the deployment process, allowing businesses to deliver new features and updates to their customers more quickly and efficiently.</p>

      <p>Overall, Devtegrate is a trusted provider of IaC, CI, and CD solutions for businesses looking to</p>
    </div>

    <div class="animaion__fixing__flex__box__container__content">
      <p>Cloud Formation is a service provided by Amazon Web Services (AWS) that enables users to define and deploy infrastructure for their applications in the cloud. It allows users to create, update, and delete resources in their AWS account in a predictable and automated way.</p>

      <p>One of the key benefits of using Cloud Formation is that it allows users to define their infrastructure as code (IAC). This means that the infrastructure can be version controlled, tested, and deployed in a repeatable and automated way. This can save time and reduce the risk of errors that can occur when manually provisioning resources.</p>

      <p>Cloud Formation templates are written in JSON or YAML and define the resources that should be created in the AWS account. These templates can include resources such as Amazon Elastic Compute Cloud (EC2) instances, Amazon Simple Storage Service (S3) buckets, and Amazon Virtual Private Clouds (VPCs).</p>

      <p>To create a new stack using Cloud Formation, users simply upload the template to the Cloud Formation service and specify the desired stack name and other parameters. Cloud Formation will then create the specified resources in the user's AWS account.</p>

      <p>Cloud Formation also provides several useful features, such as the ability to roll back changes in the event of an error, and the ability to update stacks with new resources or changes to existing resources. This allows users to easily modify and manage their infrastructure as their needs evolve over time.</p>

      <p>In summary, Cloud Formation is a powerful tool that enables users to define and deploy their infrastructure in the cloud in a predictable and automated way. It helps users save time and reduce the risk of errors, and allows them to easily modify and manage their infrastructure as their needs change.</p>
    </div>
  </div>
</div>

<div class="animation__team__page__container__2">
  <div class="animation__background__sizing__2 animation__background__grey">
    <div class="animation__header">
      <h3>What we do at Devtegrate</h3>
      <p>Cloud Infrastructure. Automation. DevOps.</p>
    </div>
    <div class="animation__flex__box">
      <div class="animation__flex__box__container">
        <li>100%</li>
        <p>Cloud Expertise</p>
      </div>

      <div class="animation__flex__box__container">
        <li>100%</li>
        <p>Cloud Solution</p>
      </div>

      <div class="animation__flex__box__container">
        <li>100%</li>
        <p>Cloud Service</p>
      </div>
    </div>
  </div>
</div>


<div class="animation__team__page__container">
  <div class="animation__team__page__container__content">
    <div class="animation__team__page__container__flex__box">
      <div class="animation__team__page__container__flex__box__text">
        <span
          class="reveal__span">Development.&nbsp;&nbsp;&nbsp;&nbsp;Integration.&nbsp;&nbsp;&nbsp;&nbsp;Devtegration.</span>
        <h3 class="reveal__header">Our Core Cloud Service Offerings.</h3>
        <p class="reveal__box">Devtegrate is a cloud service provider that offers a wide range of solutions for
          businesses of all sizes. Their core offerings include infrastructure as a service (IaaS), platform as a
          service (PaaS), and software as a service (SaaS). Each of these offerings has its own unique benefits and is
          designed to meet the specific needs of businesses in various industries.</p>
        <p class="reveal__box__2">In addition to their core cloud service offerings, Devtegrate also offers a range of
          support and consulting services to help businesses get the most out of their cloud solutions. Their team of
          experienced professionals can provide guidance and support on everything from cloud strategy and
          implementation to ongoing maintenance and support.</p>
      </div>
      <div class="animation__team__page__container__flex__box__img">
        <img class="reveal__image" src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/devtegrate__2.png" alt="Devtegrate DevOps">
      </div>
    </div>
  </div>
</div>

<div class="animation__team__page__container animation__background__grey">
  <div class="banner__flex__container__box">
    <div class="explore__banner__content__box">
      <span class="reveal__span">Autmation&nbsp;|&nbsp;DevOps&nbsp;|&nbsp;Cloud Services</span>
      <h3 class="reveal__header">Devtegrate Cloud Service and Consult.</h3>
      <p class="reveal__subheader">Devtegrate is committed to the growth of organizational structures with a major focus
        directed towards “on premise and cloud infrastructure” for swift and efficient business dealings.</p>
      <a href="{{ url_for('contact') }}">Book a consultation</a>
    </div>

    <div class="explore__banner__content__img reveal__image">
      <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/13.png" alt="Devtegrate DevOps">
    </div>
  </div>
</div>

<div class="animation__team__page__container">
  <div class="animation__team__page__container__content">
    <div class="animation__team__page__container__flex__box">
      <div class="animation__team__page__container__flex__box__img">
        <img class="reveal__image" src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/devtegrate__1.png" alt="Devtegrate DevOps">
      </div>

      <div class="animation__team__page__container__flex__box__text">
        <span
          class="reveal__span">Development.&nbsp;&nbsp;&nbsp;&nbsp;Integration.&nbsp;&nbsp;&nbsp;&nbsp;Devtegration.</span>
        <h3 class="reveal__header">Infrastructure as a Service.</h3>
        <p class="reveal__box">IaaS is a cloud computing model in which a third-party provider delivers infrastructure
          resources over the internet. This includes physical servers, storage, and networking capabilities. With IaaS,
          businesses can access the infrastructure they need on a pay-as-you-go basis, without having to purchase and
          maintain their own hardware. This can save businesses significant upfront costs and ongoing maintenance
          expenses.</p>
        <p class="reveal__box__2">Devtegrate offers IaaS solutions that are scalable, flexible, and secure. Their IaaS
          offerings include virtual private servers (VPS), which allow businesses to have their own dedicated server
          resources, as well as shared hosting and cloud storage solutions. Devtegrate's IaaS solutions are designed to
          meet the needs of businesses of all sizes, from small startups to large enterprises.</p>
      </div>
    </div>
  </div>
</div>

<div class="animation__team__page__container__2">
  <div class="animation__background__sizing__2 animation__background__grey">
    <div class="animation__header">
      <h3>What we promise our Clients at Devtegrate</h3>
      <p>Devtegrate has one of the most effective and efficient work force as a cloud service provider with professional
        service rendering a major focus.</p>
    </div>
    <div class="animation__flex__box">
      <div class="animation__flex__box__container">
        <li>90%</li>
        <p>Our Language Stack</p>
      </div>

      <div class="animation__flex__box__container">
        <li>96%</li>
        <p>Our Professional Ratings</p>
      </div>

      <div class="animation__flex__box__container">
        <li>100%</li>
        <p>Our Service Focus</p>
      </div>
    </div>
  </div>
</div>


<div class="animation__team__page__container">
  <div class="animation__team__page__container__content">
    <div class="animation__team__page__container__flex__box">
      <div class="animation__team__page__container__flex__box__text">
        <span
          class="reveal__span">Development.&nbsp;&nbsp;&nbsp;&nbsp;Integration.&nbsp;&nbsp;&nbsp;&nbsp;Devtegration.</span>
        <h3 class="reveal__header">Platform as a Service (PaaS).</h3>
        <p class="reveal__box">PaaS is a cloud computing model in which a third-party provider delivers a platform for
          developers to build, test, and deploy applications. The platform includes all the necessary tools, frameworks,
          and infrastructure resources needed to develop and deploy applications. With PaaS, businesses can access the
          tools and resources they need to develop and deploy applications without having to purchase and maintain their
          own hardware and software.</p>
        <p class="reveal__box__2">Devtegrate offers PaaS solutions that are designed to meet the needs of developers and
          businesses. Their PaaS offerings include a range of tools and resources, such as integrated development
          environments (IDEs), version control systems, and databases. Devtegrate's PaaS solutions are designed to be
          flexible and scalable, allowing businesses to easily adapt to changing needs and demands.</p>
      </div>
      <div class="animation__team__page__container__flex__box__img">
        <img class="reveal__image" src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/devtegrate__4.png" alt="Devtegrate DevOps">
      </div>
    </div>
  </div>
</div>

<div class="explore__service__background__img__container">
  <div class="explore__service__background__img__container__content">
    <span class="reveal__span">Automation...&nbsp;&nbsp;&nbsp;&nbsp;DevOps...&nbsp;&nbsp;&nbsp;&nbsp;Cloud
      Services...</span>
    <h3 class="reveal__header">Kickstart Your Dream Project With Us</h3>
    <p class="reveal__box">We have worked with some of the best innovative ideas and brands in the world across
      industries.</p>
    <a href="{{ url_for('contact') }}">Get in touch with us</a>
  </div>
</div>

<div class="animation__team__page__container">
  <div class="animation__team__page__container__content">
    <div class="animation__team__page__container__flex__box">
      <div class="animation__team__page__container__flex__box__img">
        <img class="reveal__image" src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/devtegrate__6.webp" alt="Devtegrate DevOps">
      </div>

      <div class="animation__team__page__container__flex__box__text">
        <span
          class="reveal__span">Development.&nbsp;&nbsp;&nbsp;&nbsp;Integration.&nbsp;&nbsp;&nbsp;&nbsp;Devtegration.</span>
        <h3 class="reveal__header">Software as a Service (SaaS).</h3>
        <p class="reveal__box">SaaS is a cloud computing model in which a third-party provider delivers software over
          the internet on a subscription basis. With SaaS, businesses can access software applications and tools without
          having to purchase and maintain their own hardware and software. This can save businesses significant upfront
          costs and ongoing maintenance expenses.</p>

        <p class="reveal__box__2">Devtegrate offers a wide range of SaaS solutions, including productivity tools,
          communication and collaboration tools, and business management tools. Their SaaS offerings are designed to
          meet the needs of businesses of all sizes, from small startups to large enterprises.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}