# set optional bootswatch theme
app.config['FLASK_ADMIN_SWATCH'] = 'cerulean'
admin = Admin(app, name='Devtegrate Admin Page', template_mode='bootstrap3')



























<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Making Money from NFTs (Non Fungible Token) | A Trending Crypto Trade to
      Survive Nigeria’s Economic Status
    </title>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-------Google Adsense---------->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7590529377787290"
      crossorigin="anonymous"
    ></script>

    <!----------Propeller Ads----------->

    <!------Required Links-------->
    <link rel="caronical" href="https://www.quinndaisies.com/non-fungible-token" />
    <link rel="image_src" href="assets/img/NFT.jpg" />
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />

    <!--------SEO-------->
    <meta
      property="og:title"
      content=" Understanding NFT's and how it sells | what are NFT's | Do Non Fungible Tokens have a Future | The future of Crypto Currency | Latest News on Crypto Currency "
    />
    <meta property="og:type" content="article" />
    <meta
      property="og:description"
      content=" Understanding the operations of Non Fungible Token and how to invest in them | Future prospect of NFT's | Sell painting and Antiquities on NFT's | Understanding NFT's "
    />
    <meta
      property="og:keywords"
      content=" Understanding the operations of Non Fungible Token and how to invest in them | Future prospect of NFT's | Sell painting and Antiquities on NFT's | Understanding NFT's "
    />

    <!------Meta Tags-------->
    <meta name="type" content="article" />
    <meta
      name="description"
      content=" How do NFT's work | Non Fungible Tokens and the Prospect to generate real wealth | Could NFT's be the future of Crypto currencies | Why is NFT replacing Bitcoin"
    />
    <meta
      name="keywords"
      content=" How do NFT's work | Non Fungible Tokens and the Prospect to generate real wealth | Could NFT's be the future of Crypto currencies | Why is NFT replacing Bitcoin ?  "
    />
    <meta name="author" content="Ebire Folayemi Michael" />
    <meta name="revised" content="Arcade Designs, 12th of April, 2022" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link to CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-----box icons------>
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>

    <!------Post Content--------->
    <section class="blog-post-header">
      <div class="blog-header-content blog-post-container">
        <!-----Back to Home--------->
        <a href="index.html" class="back-home">Back to Home</a>
        <!----title------>
        <h1 class="blog-header-title">
          Making Money from NFTs (Non Fungible Token)
        </h1>
        <!------post image--------->
        <img
          src="assets/img/NFT.jpg"
          alt="A Trending Crypto Trade to Survive Nigeria’s Economic Status"
        />
      </div>
    </section>

    <!-----posts------>
    <section class="blog-post-content blog-post-container">
      
      <h2 class="sub-heading">Prospect of Generating Passive Income</h2>

      <p class="blog-post-text">
        When it comes to the prospect to generate massive income, NFT’s are
        quite on top of that. Imagine minting out an image with no background
        that changes into cities around the world, then it is minted and put up
        for sale on the NFT platform for Four Hundred Ethereum worth (400 eth),
        if sold then more than 1 million dollars would be ringing the alarm bell
        in an artist Crypto Wallet. Even more amateur artist or photographers
        who are lucky enough to paint, or get a very lovely shot of an event or
        natural scenery can get this items sold in NFT’s, remember art is
        subjective and you might just be lucky to be the next big thing.
      </p>
    </section>
    <!-------share-------->
    <div class="blog-share blog-post-container">
      <span class="blog-share-title">Share this Article</span>
      <div class="blog-social">
        <a href="https://www.facebook.com"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.twitter.com"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </body>
</html>






















@media (max-width: 768px) {
    .nav {
        padding: 10px 0;
    }
    section {
        padding: 2rem 0;
    }
    .blog-header-content {
        margin-top: 3rem !important;
    }
    .blog {
        min-height: 380px;
    }
    .blog-header-title {
        font-size: 2rem;
    }
    .blog-header-img {
        height: 370px;
    }
    .blog-post-header {
        height: 435px;
    }
    .blog-post-content {
        margin-top: 9rem !important;
    }
}
