{% extends 'base.html' %} 
  {% block content %}
  <section class="home">
    <video class="video_slide active" src="https://devtegrate-files.s3.us-east-2.amazonaws.com/videos/video_10.mp4" autoplay muted loop></video>

    <div class="content active">
      <h1 data-aos="zoom-in" data-aos-duration="3000">Devtegrate<br><span>Explore</span></h1>
      <p data-aos="zoom-in" data-aos-duration="3000">
        Explore our professional profile, our tools and our services. Start with the basics and consult with us when you seek answers to understand our operations.
      </p>
    </div>

    <div class="media_icons">
      <a data-aos="zoom-in" data-aos-duration="3000" href="https://www.facebook.com/profile.php?id=100087533002431"><i class="bx bxl-facebook"></i></a>
      <a data-aos="zoom-in" data-aos-duration="3000" href="https://www.instagram.com/devtegrate_llc"><i class="bx bxl-instagram"></i></a>
      <a data-aos="zoom-in" data-aos-duration="3000" href="https://www.twitter.com/Devtegrate_LLC"><i class="bx bxl-twitter"></i></a>
    </div>
  </section>

  <section class="explore_container">
    <div data-aos="zoom-in" data-aos-duration="3000" class="explore_container_header">
      <span>Consultation.&nbsp;&nbsp;&nbsp;&nbsp;Cloud Service.&nbsp;&nbsp;&nbsp;&nbsp;Automation.</span>
      <h2>Start your journey with the right information</h2>
    </div>

    <div class="explore_flex_container">
      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box">
        <i class='bx bx-cloud'></i>
        <h3>DevOps Services</h3>
        <span>Expert DevOps Engineers</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box">
        <i class='bx bxl-kubernetes'></i>
        <h3>Our Tools</h3>
        <span>Kubernetes and Dockerization</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box">
        <i class='bx bxs-server'></i>
        <h3>Cloud Servers</h3>
        <span>AWS, Microsoft Azure, GCP</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box">
        <i class='bx bxl-docker'></i>
        <h3>Automation</h3>
        <span>Software Development Life Cycle</span>
      </div>
    </div>

    <div class="explore_btn">
      <button data-aos="fade-in" data-aos-duration="2000"><a href="{{url_for('contact')}}">Talk to Us</a></button>
    </div>
  </section>

  <section class="carousel">
    <div data-aos="zoom-in" data-aos-duration="3000" class="explore_container_header_6">
      <span>Development.&nbsp;&nbsp;&nbsp;&nbsp;Integration.&nbsp;&nbsp;&nbsp;&nbsp;Devtegration.</span>
      <h2 style='color:#35A6FF'>Tools used by our experts for developmental operations at Devtegrate.</h2>
    </div>

    <div class="explore_flex_container_6">
      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/kubernetes.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/gitlab.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/github.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/gitactions.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/postgresql.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/mysql.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/jenkins.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/circleci.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/grafana.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/ansible.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/rabbitMQ.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/gcp.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/aws.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/azure.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/mongodb.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/docker.png" alt="Devtegrate DevOps">
      </div>

       <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/redis.png" alt="Devtegrate DevOps">
      </div>

       <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/prometheus.png" alt="Devtegrate DevOps">
      </div>

       <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/terraform.png" alt="Devtegrate DevOps">
      </div>

       <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/kafka.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/puppet.png" alt="Devtegrate DevOps">
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_6">
        <img src="https://devtegrate-files.s3.us-east-2.amazonaws.com/images/chef.png" alt="Devtegrate DevOps">
      </div>
      
    </div>
  </section>

  <section class="explore_container">
    <div data-aos="zoom-in" data-aos-duration="3000" class="explore_container_header">
      <span>Amazon Web Service.&nbsp;&nbsp;&nbsp;&nbsp;Microsoft Azure.&nbsp;&nbsp;&nbsp;&nbsp;Google Cloud Platform.</span>
      <h2>View our expert skills and professional focus</h2>
    </div>

    <div class="explore_flex_container_md_2">
      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <i class="bx bxl-aws"></i>
        <h3>Amazon Web Service</h3>
        <span>DevOps is a major part of our professional description, as a result, it is only of essence that we pride
          ourselves in being experts in this field.</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <i class="bx bxl-microsoft"></i>
        <h3>Microsoft Azure</h3>
        <span>Microsoft Azure is an important part of automation as well as software development life cycle,
          a major requirement from our client and a core aspect of our profession.</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <i class="bx bxl-google-cloud"></i>
        <h3>Google Cloud Platform</h3>
        <span> Google Cloud Platform is another contender providing cloud hosting services and server side development and deployment, we
          pride ourselves in the ability to use all cloud services and platforms professionally to satisfy clients
          requests.</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <i class="bx bxl-microsoft-teams"></i>
        <h3>Our Team</h3>
        <span>Our team is made up of professional software programmers, website developers, full stack developers, frontend and backend programmers, expert DevOps engineers, site reliability experts and the list goes on.</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <i class="bx bx-briefcase-alt-2"></i>
        <h3>Our Tools</h3>
        <span>Our tools ranges from a wide array of cloud service, server side development, software development
          lifecycle, automation, DevOps service and many more, when we need to use tools, we pick the best to suit
          clients request.</span>
      </div>

      <!------------
      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <i class="bx bx-user-voice"></i>
        <h3>24/7 Services</h3>
        <span>Before, during and after services are rendered, we stil remain focused to ensuring are Clients can get in
          touch with us when every they need to.</span>
      </div>
      ------------------>

      <span>Other Core Fundamental Services <br><i class="bx bxl-aws"></i><i class="bx bxl-google-cloud"></i><i
          class="bx bxl-microsoft"></i><i class="bx bxl-kubernetes"></i><i class="bx bxl-docker"></i></span>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <h3>Website Development</h3>
        <span>Website Development is an important part of Devtegrate service, using various web framework and database integration hosted on various cloud platforms and cloud servers to delivery efficient and professional service.</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <h3>Software Programming</h3>
        <span>Using various programmes and development frameworks for responsive, bright and user friendly graphics
          interface as well as basic and complex functionality to acheive optimum professional service.</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <h3>DevOps and Cloud Services</h3>
        <span>The Core of our services are branched into numerous aspect of technology, developmental operations, and
          cloud services, automation and software development.</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <h3>Software Developmental Life cycle</h3>
        <span>From project planning to gathering requirements & analysis, design, coding and implementation to testing and deployment right down to maintenance covers the scope of our service.</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <h3>Cloud automation</h3>
        <span>We also offer our expertise in cloud automation to enable automated manual processes and speed up the delivery of infrastructure resources.</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <h3>Software Deployment</h3>
        <span>Software Deployment is an important part of application development to ensure functionality across various platforms and targeted devices either on a test server, production environment or a user computer or mobile device.</span>
      </div>

      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_2">
        <h3>Cloud Computing Services</h3>
        <span>Ranging from Software as a Service (Saas) to Platform as a Service (Paas) and Infrastructure as a
          Service(Iaas), working with various teams of professionals, we utilize every available resources to give the required
          results.</span>
      </div>
    </div>

    <div class="explore_btn">
      <button data-aos="zoom-in" data-aos-duration="3000"><a href="{{url_for('services')}}">About Our Services</a></button>
    </div>

    <div data-aos="zoom-in" data-aos-duration="3000" class="explore_container_header">
      <span>DevOps.&nbsp;&nbsp;&nbsp;&nbsp;Cloud Service.&nbsp;&nbsp;&nbsp;&nbsp;Automation.</span>
      <h2>Learn More About Devtegrate</h2>
    </div>

    <div class="explore_flex_container_md_4">
      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_4">
        <i class='bx bx-cloud'></i>
        <h3>DevOps Cloud Service</h3>
        <span>The fundamental foundation of our service is deeply rooted in Developmental Operations
          <strong>(DevOps)</strong> as well as cloud servers and cloud services, Software Development Life Cycle and
          Automation.</span>
      </div>
      
      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_4">
        <i class='bx bxl-dev-to'></i>
        <h3>Developmental Life Cycle</h3>
        <span>At Devtegrate we follow every principle in the book; the focus is to get your work perfectly done. Our processes start with the planning and gathering of the necessary requirements to design and development, documentation, testing and then deployment and maintenance.</span>
      </div>

      <!------------
      <div data-aos="zoom-in" data-aos-duration="3000" class="explore_flex_box_md_4">
        <i class="bx bx-user-voice"></i>
        <h3>24/7 Services</h3>
        <span>Before, during and after services are rendered, we stil remain focused to ensuring are Clients can get in touch with us when every they need to.</span>
      </div> -->

    </div>

    <div class="explore_btn">
      <button data-aos="zoom-in" data-aos-duration="3000"><a href="{{url_for('about')}}">About Devtegrate</a></button>
    </div>
  </section>
  {% endblock %}